<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>予約一覧</h1>
    </div>
    <div class="col-12 mt-3">
    <table class="table table-striped">
        <thead>
          <td>日付</td>
          <td>時間帯</td>
          <td>人数</td>
          <td></td>
          <td></td>
        </thead>
        </tbody>  
          <tr>
          <% @user.reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.day %></td>
            <td><%= reservation.time_from %></td>
            <td><%= reservation.number_of_ppl %></td>
            <td>編集</td>
          　<td>削除</td>
          <tr>
          <% end %>
      </tbody>  
    </table>  
    </div>
  </div>
</div>